* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#containBox {

}
#box {
    width: 100px;
    height: 100px;
    background-color: steelblue;

    position: absolute;
    top:0;
    right: 0;
}
